@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,700;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fffafa;
}

html{
    scroll-behavior: smooth;
}

.cabecalho{
    background-color: #0077B5;
}

.cabecalho-img {
    width: 5%;
    max-width: 700px;
    margin: 30px;
    transform: rotate(-45deg);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.logo-responsive{
    display: none;

}

.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-menu {
    display: flex;
    gap: 60px;
}

.cabecalho-menu-item {
    color: #ffffff;
    font-weight: 400px;
    font-size: max(16px, 1.5vw);
}

.cabecalho-menu-item:hover {
    opacity: 1;
    text-decoration: underline;
}

/*Conteudo wrapper*/

.wrapper {
    margin: 45px auto 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.664);
    border-radius: 6px;
    text-align: center;
    max-width: 600px;
}

.wrapper.active {
    height: 450px;
}

#qrcode {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}


.wrapper .header h1 {
    font-size: max(25px, 2.5vw);
    font-weight: 600;
    letter-spacing: -3px;
    margin: 10px 0;
}

.wrapper .header p {
    font-size: max(15px, 1vw);
    margin-bottom: 5px;
    text-align: center;
}

.wrapper .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .form input {
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 40px;
    margin-bottom: 2rem;
    border: none;
    border-bottom: .1rem solid #0097ff;
}

.wrapper .form input::placeholder{
    padding-left: .5rem;
    color: black;
}

.wrapper .form  button {
    width: 100%;
    height: 40px;
    background-color: #0097ff;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: max(15px, 1vw);
}

.wrapper .form button:hover{
    border: .1rem solid #0097ff;
    color: #0097ff;
    background-color:   transparent;
    font-weight: bolder;
}


.wrapper .qr-code img {
    width: 170px;
}

.wrapper.active .qr-code{
    display: block;
    transition: all .5s .5s ease;
}

/*responsividade*/

@media (max-width: 630px) {

    .header-items{
        display: none;
    }

    header .top{
        display: none;
    }

    .menu-responsive{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-responsive{
        display: flex;
        max-width: 700px;
        width: 7%;
        margin: 30px;
        transform: rotate(-45deg);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
    }

    .button-contacte {
        margin-top: 2vh;
    }
    
    .one,
    .two,
    .three {
        background-color: #fff;
        height: 2px;
        width: 60%;
        margin: 5px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
    }

    /*fullscren*/


    .logo-responsive.off{
        opacity: 0%;
    }

    .wrapper.on{
        margin-top: 120vh;
    }


    .cabecalho.on{
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        z-index: 10;
        justify-content: center;
        align-items: center;
    }

    .cabecalho.on .logo-responsive{
        display: none;
    }

    .cabecalho.on .header-items{
        display: flex;
        flex-direction: column;
        margin-top: 25vh;
    }

    .cabecalho.on .cabecalho-menu{
        display: flex;
        flex-direction: column;
        line-height: 1rem;
        text-align: center;
    }

    .cabecalho-menu-item{
        font-size: 5vw;
    }

    .cabecalho.on .menu-toggle{
        position: absolute;
        right: -4vw;
        margin-right: 10vw;
        top: 3vh;
    }

    .cabecalho.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .cabecalho.on .menu-toggle .two{
        opacity: 0;
    }

    .cabecalho.on .menu-toggle .three{
        transform: rotate(-45deg) translate(3px, -4px);
    }


    

}


@media (max-width: 530px) {

    .imagem-qrcode{
        width: 70%;
    }
}

@media (max-width: 480px) {
    .offer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .offer > div{
        flex: 1 1 80px;
      }
}


